<template name="menu">
<!--{{#with data}}-->
        <!--{{#each data}}-->
        <!--<img src="{{picture}}">-->
        <!--{{price}}-->
        <!--{{foodName}}-->
            <!--{{/each}}-->
        <!--{{/with}}-->
    <div class="row">
        {{#with data}}
            {{#each data}}
                <div class="col-md-3">
                    <div class="caption hvr-grow-shadow">
                        <a href="#"><img src="{{picture}}" class="img-rounded" width="270px"
                                                                 height="180px"></a>

                        <h3 class="hvr-icon-buzz-out"> {{foodName}} : ${{price}}</h3>
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </div>
</template>
<!--{{pathFor 'orderInsert'}}-->