.top {
    margin-top: 5px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #009688;
    border-color: #009688;
}

/*Bert Alert*/
.bert-alert.success {
    background: #009688;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #00897b;
}

/*Font*/
body {
    font-family: "Helvetica Neue", khmer, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: #00796b;
}