/*Dashboard CSS*/
.img-full-width {
    width: 100%;
    height: auto;
}

/*Caption*/
.caption {
    position: relative;
    margin-bottom: 2%;
}

.caption h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(41, 82, 123, .8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*Caption 5*/
.caption-5 {
    position: relative;
    margin-bottom: 2%;
}

.caption-5 h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(49, 123, 41, 0.8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*Caption 3*/
.caption-3 {
    position: relative;
    margin-bottom: 2%;
}

.caption-3 h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(54, 41, 123, 0.8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*Caption 4*/
.caption-4 {
    position: relative;
    margin-bottom: 2%;
}

.caption-4 h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(123, 41, 78, 0.8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*Caption 6*/
.caption-6 {
    position: relative;
    margin-bottom: 2%;
}

.caption-6 h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(123, 95, 41, 0.8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*Caption 7*/
.caption-7 {
    position: relative;
    margin-bottom: 2%;
}

.caption-7 h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(41, 123, 48, 0.8);
    font-size: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media (min-width: 500px) {
    .caption-2 h3 {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(41, 82, 123, .8);
    }
}
.label-vea {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}