<template name="dashboard">
    <div class="row">
        <!--Breakfast-->
        <div class="col-md-4">
            <div class="caption hvr-grow-shadow">
                <img src="/breakfast.jpg" class="img-rounded breakfast" width="370px"
                                                       height="200px">

                    <h3 class="hvr-icon-buzz-out">Breakfast</h3>
            </div>
        </div>
        <!--Lunch-->
        <div class="col-md-4">
            <div class="caption-5 hvr-grow-shadow">
                <img src="/lunch.jpg" class="img-rounded lunch" width="370px" height="200px">

                <h3 class="hvr-icon-buzz-out">Lunch</h3>
            </div>
        </div>
        <!--Dinner-->
        <div class="col-md-4">
            <div class="caption-3 hvr-grow-shadow">
                <img src="/dinner.jpg" class="img-rounded dinner" width="370px" height="200px">

                <h3 class="hvr-icon-buzz-out">Dinner</h3>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <!--Dessert-->
        <div class="col-md-4">
            <div class="caption-4 hvr-grow-shadow">
                <img src="/dessert.jpg" class="img-rounded dessert" width="370px" height="200px">

                <h3 class="hvr-icon-buzz-out">Dessert</h3>
            </div>
        </div>
        <!--Coffee-->
        <div class="col-md-4">
            <div class="caption-6 hvr-grow-shadow">
                <img src="/coffee.jpg" class="img-rounded coffee" width="370px" height="200px">

                <h3 class="hvr-icon-buzz-out">Coffee</h3>
            </div>
        </div>
        <!--Drink-->
        <div class="col-md-4">
            <div class="caption-7 hvr-grow-shadow">
                <img src="/drink.jpg" class="img-rounded drink" width="370px" height="200px">

                <h3 class="hvr-icon-buzz-out">Drink</h3>
            </div>
        </div>
    </div>
</template>