<template name="add_button">
    <p>
        <button class="btn btn-raised btn-teal" id="js-insert">{{fa "plus"}} <b>ADD</b></button>
    </p>
</template>

<template name="generateRpt_button">
    <button type="submit" class="btn btn-teal">{{fa "file-text"}} <b>GENERATE REPORT</b></button>
</template>

<!--on alertify dialog-->
<template name="saveAndReset_button">
    <div class="my-flat-blue">
        <hr>
        <button type="submit" class="btn btn-teal">{{fa "save"}} <b>SAVE</b></button>
        <button type="reset" class="btn btn-danger">{{fa "refresh"}} <b>RESET</b></button>
    </div>
</template>

<template name="saveAndResetAndPrint_button">
    <div class="my-flat-blue">
        <hr>
        <button type="submit" class="btn btn-teal">{{fa "save"}} <b>SAVE</b></button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} <b>RESET</b></button>
        <button type="submit" class="btn btn-success" id="save-and-print">{{fa "print"}} <b>SAVE & PRINT</b></button>
    </div>
</template>

<template name="update_button">
    <div class="my-flat-blue">
        <hr>
        <button type="submit" class="btn btn-teal">{{fa "save"}} <b>UPDATE</b></button>
        <button type="reset" class="btn btn-danger">{{fa "refresh"}} <b>RESET</b></button>
    </div>
</template>






